<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>An Empty mapping class.</string>
	<key>Summary</key>
	<string>An Empty mapping class</string>
	<key>SortOrder</key>
	<string>10</string>
	<key>DefaultCompletionName</key>
	<string>MappingJSON</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Mapping name (MappingJSON): </string>
			<key>Description</key>
			<string>The name of the mapping.</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
        <dict>
            <key>Description</key>
            <string>The name of the Oupput class type</string>
            <key>Identifier</key>
            <string>Method</string>
            <key>Name</key>
            <string>Output class type:</string>
            <key>Required</key>
            <string>YES</string>
            <key>Type</key>
            <string>text</string>
            <key>NotPersisted</key>
            <true/>
        </dict>
	</array>
</dict>
</plist>
